html {
  max-width: 1500px;
}
body {
  background-color: #F7FAFC;
}
.page-header {
  text-align: center;
}
img {
  max-width: 100%;
  max-height: 100%;
}
#back {
  position: absolute;
  left: 50%;
  top: 50%; 
  margin-left: -110px;
  margin-top: -110px;
}
#part1 {
  position: absolute;
  left: 50%;
  top: 50%; 
  margin-left: -110px;
  margin-top: -110px;
}
#part2 {
  position: absolute;
  left: 50%;
  top: 50%; 
  margin-left: -110px;
  margin-top: -110px;
}
#part3 {
  position: absolute;
  left: 50%;
  top: 50%; 
  margin-left: -110px;
  margin-top: -110px;
}
#part4 {
  position: absolute;
  left: 50%;
  top: 50%; 
  margin-left: -110px;
  margin-top: -110px;
}
.icons {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.button {
  float: left;
  background: #77AEFF; 
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 30px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
}

#deleteFiles {
  margin-top: 250px;
}
td {
  padding: 6px;
}
#buttonSubmit {
  margin-left: 330px;
  margin-top: 20px;
}
#previsualization {
  height: 350px;
  width: 533px;
  margin-top: 100px;
  margin-left: 70px;
  float: left;
  border: 5px solid #333333;
  position: relative;
  background-color: #C2C1BD;
}
#base {
  display: none;
}
#particion {
  display: none;
}
#src {
  display: none;
}
#imgName {
  display: none;
}
#imgNameBase {
  display: none;
}